@import url(public/assets/Fonts/Inter.ttf);
@import url(public/assets/Fonts/Inter-Bold.ttf);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Novecento Sans Bold";
  src: url("public/assets/Fonts/Novecentosanswide-DemiBold.otf") format("opentype");
  font-family: "Novecento Sans Normal";
  src: url("public/assets/Fonts/Novecentosanswide-Normal.otf") format("opentype");
}

@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f0f0;
}

a{
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
